@page
@model MySpotify.Pages.Canciones.ListModel
@{
    ViewData["Title"] = " Lista de Canciones";
}
@* solo html *@

<table class="table">
    @foreach (var cancion in Model.Canciones)
    {
        <tr>
            <td>@cancion.Title</td>
            <td>@cancion.ArtistName</td>
            <td>@cancion.Duration</td>
            <td>@cancion.genero</td>
            @* //funcion mostrar detalles de cancion NO FUNCIONA ERROR DE ENRUTAMIENTO O DIRECCIONAMIENTO O PoSIBLE NULL *@
            <td>
                <a class="btn btn-lg"
                   asp-page="./Detail"
                   asp-route-cancionesId="@cancion.Id">
                    Ver Detalle
                </a>
            </td>
            <td>
                <a class="btn btn-lg"
                   asp-page="./Edit"
                   asp-route-cancionesId="@cancion.Id">
                    Editar
                </a>
            </td>
        
        </tr>
    }
</table>

<div>@Model.Message</div>

